extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen de Nosotros")
            .col-md-7
                  h1 #{pagina}
                  blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae placeat beatae vel maxime dignissimos distinctio, dolorem id, soluta numquam expedita rem ipsum ad delectus obcaecati non? Culpa aliquid dicta similique?
                  p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam quibusdam doloremque ipsa accusamus voluptatibus aut, laborum sapiente illum dolore minima exercitationem eum illo eligendi quo placeat quam eos culpa temporibus.
                  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam earum temporibus, dolorem repellat ut ad nulla itaque dolores non tempore numquam ea nobis omnis similique quae facere iste beatae commodi. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius possimus cum est accusamus debitis distinctio minima iste error voluptate soluta sint repellendus ex itaque, laudantium facere nulla quaerat aperiam odio.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem nam culpa adipisci laborum laudantium impedit quisquam expedita quam rerum incidunt asperiores;
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem nam culpa adipisci laborum laudantium impedit quisquam expedita quam rerum incidunt asperiores;
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem nam culpa adipisci laborum laudantium impedit quisquam expedita quam rerum incidunt asperiores;