extends ../layout/index
block slider
  .slider
    h1 Rio de Janeiro
    em aventura

block contenido
  main.container.mt-5 
    h2.text-center.mb-5 Sobre nosotros
    .row.mb-5
      .col-md-6
        p Lorem fistrum tiene musho peligro se calle ustée a wan te voy a borrar el cerito te voy a borrar el cerito amatomaa te voy a borrar el cerito. Te voy a borrar el cerito sexuarl papaar papaar fistro papaar papaar caballo blanco caballo negroorl ese hombree por la gloria de mi madre apetecan pupita a peich. Ese que llega condemor diodeno papaar papaar.
        p Al ataquerl va usté muy cargadoo tiene musho peligro pecador quietooor ese que llega benemeritaar pupita. Caballo blanco caballo negroorl llevame al sircoo papaar papaar caballo blanco caballo negroorl torpedo va usté muy cargadoo la caidita hasta luego Lucas ese pedazo de me cago en tus muelas. Apetecan llevame al sircoo de la pradera sexuarl.
      .col-md-6
        img(src="/img/inicio_nosotros.jpg", class="img-fluid")
    h2.text-center.mb-5 Proximos Viajes
    include ../layout/partials/viajes
  .descuento
    .container
      .row
        col-md-6
          .contenido
            h3 5% de Descuento
            p.titulo Viaje a Canada
            p.fecha 20 de Marzo de 2020 - 28 de Marzo de 2020
            p.precio 2000€
  .container
    h2.text-center.my-5 Opiniones
    include ../layout/partials/testimoniales
  
